    /*Resets*/
    *{
        padding: 0px;
        margin: 0px;
    }
    
    body{
        font-family: poppins;
        background: url(product_images/hoodie.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 80ch;
    }
    
    
    img{
        width: 100%;
    }
    
    a{
        text-decoration: none;
    }

    a:hover{
        color: green;
    }

    h3, h4{
        font-weight: 100;
        margin: 10px;
    }
    
    
    /*header section*/
    
    .logo_container{
        width: 20%;
    }

    
    /*navigation bar*/
    #navigation_container{
        background: #e1bee7;
        padding: 5px;
        align-items: center;
    }
    
    .logoandhome{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .first_nav{
        font-size: 20px;
        text-align: center;
    }
    
    .home, .about, .blog, .shop{
        color: blue;
        margin: 15px;
    }
    
    button{
        border: none;
        background: blue;
        color: white;
        padding: 5px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 2px;
        box-shadow: 1px 5px 10px  blue;
    }

    button:hover{
        background: green;
        color: white;
        transition: 0.5s ease-in-out;
        box-shadow: 1px 5px 10px  green;
    }

    /*products section*/
#main_products_div{
    background:#e1bee770;
    clip-path: polygon(53% 0, 100% 0, 100% 50%, 10% 100%, 0 100%, 0 21%);
}
.products{
    display: flex;
}

.hoodie_div{
    
}

/*footer section*/
#second_footer{
    margin: 0px;
    background:#e1bee770;
    position: absolute;
    bottom: 0;
    padding: 30px;
}

.footer_details{
    display: flex;
    justify-content: space-evenly;
}